@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.font-josefin, .header .header-content .header-title h2, .section-container .section-content .section-desc h1, .gallery-content .gallery-nav h2, .gallery-content .gallery-nav button, .gallery-content .gallery-section .gallery-img h6, footer .footer-container .footer-copyright h3 {
  font-family: "Josefin Sans", sans-serif;
}

.font-alata, .header .nav .nav-link ul, .header .nav .nav-title, .section-container .section-content .section-desc p, footer .footer-container .footer-nav h2, footer .footer-container .footer-nav ul {
  font-family: "Alata", sans-serif;
}

.animate-hover::after, .header .nav .nav-link ul a::after, footer .footer-container .footer-nav ul a::after, footer .footer-container .footer-copyright .footer-social .social-container::after {
  content: "";
  height: 2px;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  background-color: white;
  position: absolute;
  display: block;
  bottom: -0.5em;
  left: 0;
}

.animate-hover:hover::after, .header .nav .nav-link ul a:hover::after, footer .footer-container .footer-nav ul a:hover::after, footer .footer-container .footer-copyright .footer-social .social-container:hover::after {
  left: 0;
  width: 100%;
}

.button-hover, .gallery-content .gallery-nav button {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.button-hover:hover, .gallery-content .gallery-nav button:hover {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  color: white;
  background-color: black;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.header {
  background-image: url("../../images/desktop/image-hero.jpg");
  background-size: cover;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  color: white;
}

.header .nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header .nav .nav-link {
  width: 22em;
}

.header .nav .nav-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

.header .nav .nav-link ul a {
  color: white;
  text-decoration: none;
  position: relative;
}

.header .nav .nav-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .header-content {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header .header-content .header-title {
  border: 1px solid white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 40px;
  width: 12em;
  letter-spacing: 2px;
  padding-left: 3px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 25px;
}

.header .header-content .header-title h2 {
  font-weight: 300;
}

.header::before {
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  content: "";
  position: absolute;
  opacity: 10%;
}

.section-container {
  height: 90vh;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-row: auto;
  position: relative;
}

.section-container .section-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section-container .section-content .section-img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
}

.section-container .section-content .section-img img {
  width: 100%;
}

.section-container .section-content .section-desc {
  position: absolute;
  width: 25em;
  padding: 5em;
  background-color: white;
  z-index: 1;
  right: 0em;
  bottom: 0;
}

.section-container .section-content .section-desc h1 {
  font-weight: 300;
  text-transform: uppercase;
}

.section-container .section-content .section-desc p {
  color: #8c8c8c;
}

.gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.gallery-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.gallery-content .gallery-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-content .gallery-nav h2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
}

.gallery-content .gallery-nav button {
  padding: 0.5em 2em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: uppercase;
  background: white;
  border: 1px solid #8c8c8c;
  font-weight: 700;
  font-weight: 400;
}

.gallery-content .gallery-nav button:focus {
  outline: none;
}

.gallery-content .gallery-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.gallery-content .gallery-section .gallery-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 13em;
  height: 23em;
  max-width: 13em;
  max-height: 23em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  padding: 1em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 0;
  color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.gallery-content .gallery-section .gallery-img h6 {
  margin: 0;
  font-size: 2em;
  width: 5.3em;
  font-weight: 300;
  z-index: 2;
  text-transform: uppercase;
}

.gallery-content .gallery-section .gallery-img .img-filter {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  position: absolute;
  bottom: 0;
  left: 0;
}

.gallery-content .gallery-section .gallery-img .img-filter:hover {
  background-color: white;
  opacity: 70%;
}

.gallery-content .gallery-section .gallery-img .img-filter:hover ~ h6 {
  font-weight: 400;
  color: black;
}

footer {
  color: white;
  background-color: black;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin-top: 1em;
}

footer .footer-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .footer-nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
}

footer .footer-container .footer-nav h2 {
  padding: 0;
  margin: 0;
}

footer .footer-container .footer-nav ul {
  width: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  list-style: none;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  font-size: 0.9em;
}

footer .footer-container .footer-nav ul a {
  color: white;
  text-decoration: none;
  position: relative;
}

footer .footer-container .footer-copyright .footer-social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

footer .footer-container .footer-copyright .footer-social .social-container {
  position: relative;
}

footer .footer-container .footer-copyright h3 {
  font-size: 1.2em;
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */