html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-image: url("../../images/desktop/image-hero.jpg");
  background-size: cover;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  color: white;
}

.nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-link {
  width: 22em;
}

.nav .nav-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

.nav .nav-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-content {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content .header-title {
  border: 1px solid white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 40px;
  width: 12em;
  letter-spacing: 2px;
  padding-left: 3px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 25px;
}

.header-content .header-title h2 {
  font-weight: 400;
}

.section-container {
  height: 90vh;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-row: auto;
  position: relative;
}

.section-container .section-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section-container .section-content .section-img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
}

.section-container .section-content .section-img img {
  width: 100%;
}

.section-container .section-content .section-desc {
  position: absolute;
  width: 25em;
  padding: 5em;
  background-color: white;
  z-index: 1;
  right: 0em;
  bottom: 0;
}

.section-container .section-content .section-desc h1 {
  text-transform: uppercase;
}

.gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.gallery-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.gallery-content .gallery-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-content .gallery-nav h2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery-content .gallery-nav button {
  padding: 0.5em 2em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: uppercase;
  background: white;
  border: 1px solid #8c8c8c;
  font-weight: 700;
}

.gallery-content .gallery-nav button:focus {
  outline: none;
}

.gallery-content .gallery-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-content .gallery-section .gallery-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 13em;
  height: 23em;
  max-width: 13em;
  max-height: 23em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1em;
  color: white;
  margin-top: 1em;
}

footer {
  color: white;
  background-color: black;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin-top: 1em;
}

footer .footer-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .footer-nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer .footer-container .footer-nav ul {
  width: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  list-style: none;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

footer .footer-container .footer-copyright .footer-social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}
/*# sourceMappingURL=main.css.map */